data/
logs/
bips/
bitcoin/
bitcoinc/
bitcoinj/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
sample-project-gradle/
Servers/
eth-client-web3j/
.classpath
.project
.settings/
target/
*/.classpath
*/.project
*/.settings/
*/target/
.DS_Store
*/.DS_Store
